
@{
    //Fix cứng
    ViewBag.Title = "Lỗi";
    ViewBag.Keywords = "Lỗi thanh toán";
    ViewBag.Description = "Lỗi trong quá trình thanh toán.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Mua hàng không thành công. Lỗi thanh toán.
</div>