
@{
    //Fix cứng
    ViewBag.Title = "Thành công";
    ViewBag.Keywords = "Mua hàng thành công";
    ViewBag.Description = "Bạn đã mua hàng thành công, hàng đang được chuyển đến.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Bạn đã mua hàng thành công, hàng đang được chuyển đến.
</div>

