
@{
    //Fix cứng
    ViewBag.Title = "Giới thiệu";
    ViewBag.Keywords = "Thông tin trang web";
    ViewBag.Description = "Giới thiệu công tin bán hàng hay nhất vũ trụ";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giới thiệu</h2>
<div>
    Như thế nào là một trang giới thiệu… dở?
    Nếu sử dụng các công cụ phân tích lưu lượng truy cập (traffic) như Google Analytics, bạn sẽ thấy trang giới thiệu chiếm một tỉ trọng không hề nhỏ, là một điểm đến thường xuyên trong quá trình lướt web của người dùng.

    Bất cứ ai khi vào website cũng muốn biết trang của bạn có chủ đề gì, bạn cung cấp cho họ những gì. Điều này càng quan trọng hơn khi trang web của bạn là website bán hàng online.

    Vậy mà hiện nay, không ít trang giới thiệu chỉ toàn là chữ, câu cú dài lê thê, đọc mãi cũng không hiểu website này có lợi ích gì, có điểm gì nổi bật. Hay ngược lại, trang giới thiệu cực kỳ ngắn gọn: chỉ mô tả bằng 1 đến 2 câu, khô khan, cụt ngủn... Độc giả hầu hết rất ngán các thể loại như vậy.

    Và đó là 2 điển hình cho kiểu trang giới thiệu dở!

    Lợi ích của trang giới thiệu hay
    Nói như vậy nhưng một trang giới thiệu hay thì có lợi ích gì? Nếu viết cho thật hấp dẫn, giữ được người dùng ở lại lâu hơn nhưng không có hiệu quả gì khác thì cũng như không.

    Thực ra, khi thiết kế website doanh nghiệp thì trang giới thiệu hay mang lại nhiều ảnh hưởng tích cực lên website và doanh nghiệp, cả những lợi ích trước mắt lẫn lâu dài.

    Tạo niềm tin cho khách hàng
    Khi nào thì khách hàng sẽ truy cập vào trang giới thiệu? Đó là khi họ muốn tìm hiểm thêm về website và doanh nghiệp, về đặc điểm của công ty, và nhất là về những lợi ích mà họ có thể đạt được.

    Vì thế, một trang giới thiệu tốt sẽ khiến người dùng tin tưởng vào công ty và những giá trị mà họ có thể nhận được.

    Gây hứng thú, dẫn dắt khách hàng
    Trang giới thiệu hấp dẫn sẽ tạo được sự hứng thú của khách hàng tới sản phẩm và dịch vụ của công ty. Cộng thêm việc họ đã tin tưởng vào uy tín của website, tỉ lệ chuyển đổi cũng sẽ tăng lên phần nào.

    Gợi ý 7 cách viết trang giới thiệu hay cho website
    1. Tiêu đề thuyết phục, đưa ra thứ người dùng cần
    Mỗi một trang trong website đều nên có tiêu đề, một phần là tốt cho việc SEO, phần còn lại là để khách hàng dễ điều hướng hơn. Và bạn có thể tận dụng điều này để tăng độ hiệu quả của trang giới thiệu.

    Hãy viết tiêu đề trang giới thiệu một cách thuyết phục nhất có thể. Tức là đưa vào đó lợi ích lớn nhất mà người dùng mong muốn nhận được khi sử dụng website hoặc sản phẩm, dịch vụ của bạn.

    Hầu hết người dùng đều muốn biết mình nhận lại được gì nếu truy cập website để có thể ra tiếp những quyết định khác. Lợi ích càng nổi bật, càng đúng thứ họ đang khao khát thì độ hấp dẫn của website càng tăng.

    Vì vậy, không gì tốt hơn việc đề cập đến lợi ích ngay trong tiêu đề.

    Bạn có thể sử dụng các cú pháp câu làm tăng độ thuyết phục và kích thích sự chú ý. Ví dụ như: "Làm thế nào … ", "Bạn muốn … ?" Đôi khi, bạn có thể đưa ra một lời hứa: "Chúng tôi cam kết mang lại…". Chỉ cần như vậy, người dùng đã có thể bị thuyết phục ngay từ khi đọc câu tiêu đề của bạn rồi.

    2. Nội dung thân thiện, cuốn hút
    Các điều trên cũng áp dụng đối với phần giới thiệu công ty/webiste, nhất là phần tính năng và lợi ích. Bạn nên viết ngắn gọn, nêu bật lợi ích thiết thực nhất cho người dùng.

    Bên cạnh đó, bạn nên sử dụng văn phong tự nhiên hơn, gần gũi hơn để tạo cái nhìn thân thiện với khách hàng. Hãy tránh sử dụng các biệt ngữ, thuật ngữ quá phức tạp trong ngành. Chưa hẳn những người truy cập trang giới thiệu đều có kiến thức về lĩnh vực của website hoặc công ty bạn. Nếu nội dung của bạn quá chuyên sâu sẽ khiến người dùng bối rối và không hiểu được bạn đang nói gì.

    Trong mắt khách hàng, cách viết ít trịnh trọng sẽ thân thiện và chân thành hơn. Vì thế, hãy giới thiệu website với một thái độ thân thiện và cởi mở hơn, thậm chí có thể mang chút hài hước, vui nhộn. Tất nhiên, thân thiện tới mức độ nào vẫn phụ thuộc vào phong cách của doanh nghiệp bạn. Nhưng cũng đừng đùa quá trớn, khách truy cập có thể sẽ thấy bạn thiếu nghiêm túc và kém chuyên nghiệp.

    3. Sử dụng nhiều loại nội dung, phương thức hiển thị
    Bạn có thể truyền đạt rất nhiều thông tin trong trang giới thiệu nhưng chúng có đến được tới người dùng hay không là do bạn. Chính xác hơn là cách kể chuyện của bạn có đủ lôi cuốn hay không. Nếu bạn bịt kín cả trang giới thiệu bằng chữ và số thì tất nhiên sẽ chẳng khách hàng nào đọc nổi.

    Trang giới thiệu của Mona Media dùng timeline để biểu thị Quy trình triển khai dự án[/caption]

    Hãy sử dụng nhiều loại nội dung khác nhau từ hình ảnh, âm thanh đến video, kết hợp với nhiều phương thức biểu đạt đa dạng như: infographic, bảng, dòng thời gian (timeline), biểu đồ…

    Các yếu tố này giúp trang giới thiệu của bạn thêm rực rỡ, hấp dẫn, khiến người dùng thích thú đọc từng chi tiết.

    4. Kể câu chuyện về bản thân, về doanh nghiệp
    Không có nơi nào giúp khách hàng hiểu thêm về công ty của bạn tốt như trang giới thiệu. Tại đây, bạn có thể kể cả một câu chuyện để làm "rung động" khách hàng.

    Tác giả của NgocDenRoi.Com kể câu chuyện lập nghiệp của bản thân[/caption]

    Đó có thể là lịch sử khởi nghiệp của công ty. Những người khởi xướng công ty bắt đầu như thế nào, với những khó khăn ra sao. Cột mốc đáng nhớ nào của công ty hay những yếu tố nào khiến công ty bạn khác biệt và sống sót đc trên thị trường… Những câu chuyện như vầy giúp khách hàng hiểu thêm về công ty của bạn cũng như tin tưởng bạn nhiều hơn.

    Thậm chí, bạn còn có thể nói về những thất bại trong quá khứ. Thất bại không hẳn là tiêu cực, nó là những thử thách cho thấy công ty bạn bản lĩnh và kiên cường đến nhường nào. Dám mạnh dạn nhắc đến cả thành công lẫn thất bại trong trang giới thiệu sẽ gia tăng uy tín của website lên rất nhiều lần.

    5. Dẫn chứng các số liệu
    Cách trực tiếp thuyết phục khách hàng là đưa ra những dẫn chứng cụ thể và đáng tin cậy nhất. Hãy đưa vào trang giới thiệu của website những con số biết nói về công ty của bạn. Tốt nhất là nên chọn ra một vài con số quan trọng, ấn tượng như doanh thu, sản lượng hoặc số vốn... tùy thuộc vào lĩnh vực của doanh nghiệp.

    Điển hình, công ty thiết kế web Mona Media cũng đã áp dụng phương pháp này. Bạn có thể thấy đây đều là những con số thống kê quan trọng, biểu đạt cho sự thành công của một công ty thiết kế website. Những con số được giải thích ngắn gọn giúp người dùng nhanh chóng nắm được ý nghĩa và tin tưởng vào công ty hơn.

    Ngoài ra, còn một phương pháp thuyết phục khách hàng có hiệu quả cao nữa: trích dẫn. Đó có thể là trích dẫn của những lời nhận xét, lời khen của các đối tác, khách hàng đã từng sử dụng dịch vụ hay thậm chí là của các tờ báo nổi tiếng. Những trích dẫn này là minh chứng cho năng lực cũng như uy tín của bạn, đầy sức thuyết phục loại bỏ các nghi hoặc trong lòng khách hàng.

    6. Giới thiệu về nhân viên công ty
    Việc minh bạch thông tin nhân viên cũng góp phần làm cho doanh nghiệp trở nên đáng tin cậy.

    Vì vậy, Hãy liệt kê các thành viên, tên tuổi cũng như vị trí trong công ty bạn trên trang giới thiệu. Nếu số lượng quá đông, bạn có thể chọn ra những thành viên chủ chốt trong các phòng ban, những nhân vật nổi bật có thể đại diện cho công ty.

    Trang giới thiệu hiển thị các thành viên của Finsify (công ty làm ra Money Lover)[/caption]

    Về phần thông tin, họ tên và chức vụ của từng thành viên đôi khi là đủ rồi. Tuy nhiên, để làm trang giới thiệu cũng như website của bạn thêm phần độc đáo, bạn có thể tiết lộ thêm những thông tin thú vị của các thành viên đó.

    Bạn có thể ghi ra biệt danh của các thành viên, sở thích thú vị hoặc sở trường và sở đoản của họ. Bạn cũng có thể viết ra một dòng mô tả ngắn, nhận xét của bạn về từng người hay lý do mọi người sẽ thích làm việc chung với thành viên đó.

    Những việc này cho khách hàng thấy rằng môi trường làm việc của bạn vừa chuyên nghiệp như một công ty, vừa ấm cúng như một gia đình vậy.

    Bên cạnh đó, hãy thêm vào các chi tiết liên lạc, nhất là mạng xã hội, của từng thành viên (nếu được).

    Trong nhiều mô hình hiện đại, tất cả nhân viên của một công ty đều có trách nhiệm xây dựng mối quan hệ với khách hàng. Khách hàng sẽ thông qua các chi tiết liên hệ đó để yêu cầu hỗ trợ, trò chuyện và làm thân với các nhân viên. Từ đó mối quan hệ giữa doanh nghiệp và khách hàng sẽ thân thiết và gắn bó hơn.

    7. Thêm vào các nút "Kêu gọi hành động" (Call to action)
    Như đã nói, trang giới thiệu cũng ảnh hưởng không ít tới tỉ lệ chuyển đổi của website. Tỉ lệ chuyển đổi là tương quan giữa số lượt truy cập trang giới thiệu và số tương tác của người dùng. Để gia tăng các con số này, hãy kêu gọi người dùng tương tác bằng các biện pháp "call to action".

    Tức là: sau khi giới thiệu người dùng các lợi ích của website/doanh nghiệp, hãy đưa họ đến trực tiếp sản phẩm/dịch vụ bằng các nút "Mua ngay", "Tìm hiểu ngay"... hay các nút tương tự.

    Các dạng "Tìm hiểu thêm" có thể dẫn về trang thông tin sản phẩm chi tiết, câu chuyện thành công của khách hàng, quy trình cung ứng sản phẩm của doanh nghiệp,.v.v... Tất cả phụ thuộc vào nội dung và thiết kế của website bạn.

    Nếu không dùng nút "call to action", bạn có thể dùng các đường dẫn (link). Bạn nên chèn link vào các đoạn trong nội dung trang và trỏ về các trang khác cung cấp thông tin chi tiết hơn về vấn đề.

    Tuy nhiên, lời khuyên là bạn chỉ nên dùng đường dẫn cho các thông tin thêm. Đối với việc kêu gọi cho các hành động quan trọng như mua hay sử dụng sản phẩm/dịch vụ, hãy sử dụng nút "call to action".

    Ngoài ra, mẫu (form) đăng ký cũng là một phương pháp tăng tỉ lệ chuyển đổi hiệu quả cho trang giới thiệu.

    Cũng như nút "call to action", bạn có thể chèn mẫu đăng ký vào sau các đoạn nội dung để: thay vì kêu gọi mua hàng, khuyến khích người dùng theo dõi tin tức trang. Mẫu đăng ký phù hợp với những website cung cấp nội dung là chính.

    Không có công thức cho một trang giới thiệu hoàn hảo
    Trên đây là 7 cách viết trang giới thiệu lôi cuốn và hiệu quả cho website của bạn, chứ không phải các công thức cứng nhắc bạn phải làm theo. Bạn có thể sử dụng hết cả 7 cách, cũng như bỏ đi vài điểm không phù hợp hoặc không thích. Việc này tùy thuộc vào thẩm mỹ, phong cách và góc nhìn của bạn, cũng như đội ngũ thiết kế website.

    Duy chỉ có một điều lúc nào cũng cân được bảo đảm: trang giới thiệu phải lôi cuốn, thuyết phục và nêu bật lợi ích mà người đọc đang tìm kiếm.
</div>

