
@{
    //Fix cứng
    ViewBag.Title = "Lỗi";
    ViewBag.Keywords = "Lỗi đặt hàng";
    ViewBag.Description = "Lỗi trong quá trình đặt hàng";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Đặt mua đơn hàng không thành công. Lỗi đặt hàng.
</div>
<a href="/" title="Trang chủ" class="btn btn-success">Tiếp tục mua hàng</a>