
@{
    //Fix cứng
    ViewBag.Title = "Thành công";
    ViewBag.Keywords = "Đặt hàng thành công";
    ViewBag.Description = "Bạn đã xác nhận mua hàng thành công, đơn hàng đang được duyệt.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Đặt mua đơn hàng thành công
</div>
<a href="/" title="Trang chủ" class="btn btn-success">Tiếp tục mua hàng</a>
<a href="/don-dat-hang-cua-toi" title="Đơn đặt hàng của tôi" class="btn btn-primary">Danh sách đơn đặt hàng của tôi</a>

