
@{
    //Fix cứng
    ViewBag.Title = "Thành công";
    ViewBag.Keywords = "Mua hàng thành công";
    ViewBag.Description = "Bạn đã mua hàng thành công, hàng đang được chuyển đến.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Bạn đã mua hàng thành công, hàng đang được chuyển đến.
</div>
<a href="/" title="Trang chủ" class="btn btn-success">Tiếp tục mua hàng</a>
<a href="/don-dat-hang-cua-toi" title="Đơn đặt hàng của tôi" class="btn btn-primary">Danh sách đơn đặt hàng của tôi</a>
